{% extends 'base.html' %}
{% block content %}
{% load ruppes %}
<h3>{% block title %}Addition{% endblock %}</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">S.No</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Incentive</th>
        <th scope="col">Compenstation</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Created On</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
    <tr>
        <th scope="row">{{obj.id}}</th>
        <td>{{obj.name}}</td>
        <td>{{obj.incentive_entry.amount|ruppes}}</td>
        <td>{{obj.compenstation_entry.amount|ruppes}}</td>
        <td>{{obj.amount|ruppes}}</td>
        <td>{{obj.created_on}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}