{% extends 'base.html' %}
{% block content %}


<h3>{% block title %}Attendance{% endblock %}</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">S.N</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Total Present Days</th>
        <th scope="col">Total Days</th>
        <th scope="col">Updated On</th>

    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
    <tr>
        <th scope="row">{{obj.id}}</th>
        <td>{{obj.name}}</td>
        <td>{{obj.total_present_days}}</td>
        <td>{{obj.total_days}}</td>
        <td>{{obj.updated_on}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}