{% extends 'base.html' %}
{% block content %}

<h3>{% block title %}Employee{% endblock %}</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">S.No</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Position</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}

    <tr>
        <th scope="row">{{obj.id}}</th>
        <td>{{obj.name}}</td>
        <td>{{obj.salary}}</td>
        <td>{{obj.position}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}