{% extends 'base.html' %}
{% block content %}
<h3>Pay Roll</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">S. No.</th>
        <th scope="col">Name</th>
        <th scope="col">Actual Salary</th>
        <th scope="col">Cause</th>
        <th scope="col">Payment</th>
        <th scope="col">updated</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
    <tr>
        <th scope="row">{{ obj.id }}</th>
        <td>{{ obj.name }}</td>
        <td>{{obj.name.salary}}</td>
        <td>{{ obj.cause}}</td>
        <td>{{ obj.payment }}</td>
        <td>{{ obj.updated_on }}</td>


    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}